<ul>
<% @movies.each do |movie| %>
<li><%= movie %></li>
<% end %>
</ul>

<%= form_tag('/movies/search', method: 'get') do %>
<%= label_tag :search %>
<%= text_field_tag :search %>
<%= submit_tag '查詢' %>
<% end %>