<%= form_with(url: movies_path, method: :get) do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit '查詢' %>
<% end %>

<div>
  <% @movies.each_with_index do |movie, idx| %>
    <p><%= idx + 1 %>. <%= movie.name %></p>
  <% end %>
</div>